.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    margin-right: 10px;
}

.chuck-jokes {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}