.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

joke-list {
    width: calc(50% - 20px);
}

.chuck-jokes {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    joke-list {
        width: calc(50% - 20px);
    }

    &__item {
        margin-bottom: 20px;
    }
}