

<div class="container">
  <h1>Chuck jokes</h1>

  <div>
    <button (click)="getJokes()">
      Get new jokes
    </button>

    <button (click)="toggleInterval()">
      {{timerIsEnabled ? 'Stop' : 'Start' }} timer
    </button>
  </div>

  <div class="chuck-jokes__container">
    <joke-list
        title="Chuck Norris Jokes:"
        buttonLabel="Add to favourites"
        [showButton]="(amountOfFavouriteJokes$ | async) < 10"
        [jokes]="(chuckJokes$ | async)"
        (onJokeClick)="addToFavourite($event)"
    ></joke-list>

    <joke-list
      title="Your favourite Chuck Norris Jokes:"
      buttonLabel="Remove from favourites"
      [jokes]="(favouriteChuckJokes$ | async)"
      (onJokeClick)="removeFavourite($event)"
    ></joke-list>
  </div>
</div>

